* {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0 auto;
  padding: 20px 0 30px 0;
  width: 620px;
  font: 16px "Times New Roman", Times, "Songti SC", SimSum, serif;
  text-align: justify;
  background: #fbe9f1;
}
h1 {
  text-align: center;
  font-size: 140%;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px;
}
a.fancybox-close {
  border-bottom: none;
}
hr {
  margin: 0 10px;
  border: 0;
  border-top: 1px solid #eb93b9;
}
img {
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clickable {
  border-bottom: solid 1px;
}
.clickable:hover {
  cursor: pointer;
}
nav {
  position: fixed;
  left: calc(50% + 360px);
  top: calc(50% - 56px);
  font-size: 110%;
  line-height: 160%;
  color: #f3bed5;
}
nav .menu-toggle {
  display: none;
}
nav a {
  border-bottom: none;
}
.info-nav-bar {
  margin: 5px 10px;
  font-size: 80%;
}
.info-nav-bar-nav {
  margin-left: 3px;
}
.status {
  padding: 8px 10px;
}
.status.highlight {
  background: #fcf2f8;
  box-shadow: 0 0 2px 1px #eb93b9;
}
.status time {
  font-size: 75%;
  color: #888;
}
.status-text {
  margin: 5px 0;
}
.status-text img {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 1px;
}
.orig-post {
  padding: 5px 10px;
  background: #f7d4e3;
}
.orig-post img {
  width: 18px;
  height: 18px;
  position: relative;
  bottom: 1px;
}
.gallery {
  margin: 7px 0 5px 0;
  width: 366px;
}
.gallery.grid1 {
  width: 122px;
}
.gallery.grid2,
.gallery.grid4 {
  width: 244px;
}
.gallery.standalone {
  margin: 10px auto;
  width: 610px;
}
.gallery a {
  float: left;
  padding: 1px;
  border-bottom: none;
}
.gallery img {
  display: block;
  width: 120px;
  height: 120px;
  color: rgba(0,0,0,0);
  background: #f6cbde;
}
.fancybox {
  position: relative;
}
.fancybox:focus {
  outline: 0;
}
.fancybox .gif-indicator {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}
.fancybox-button.fancybox-open-image:before {
  width: 44px;
  height: 44px;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNzkyIDY0MHEwIDI2LTE5IDQ1bC01MTIgNTEycS0xOSAxOS00NSAxOXQtNDUtMTktMTktNDV2LTI1NmgtMjI0cS05OCAwLTE3NS41IDZ0LTE1NCAyMS41LTEzMyA0Mi41LTEwNS41IDY5LjUtODAgMTAxLTQ4LjUgMTM4LjUtMTcuNSAxODFxMCA1NSA1IDEyMyAwIDYgMi41IDIzLjV0Mi41IDI2LjVxMCAxNS04LjUgMjV0LTIzLjUgMTBxLTE2IDAtMjgtMTctNy05LTEzLTIydC0xMy41LTMwLTEwLjUtMjRxLTEyNy0yODUtMTI3LTQ1MSAwLTE5OSA1My0zMzMgMTYyLTQwMyA4NzUtNDAzaDIyNHYtMjU2cTAtMjYgMTktNDV0NDUtMTkgNDUgMTlsNTEyIDUxMnExOSAxOSAxOSA0NXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=") center/14px no-repeat;
}
.loading {
  margin: 10px 0;
  text-align: center;
  font-size: 120%;
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 1s infinite;
  content: "\2026";
  width: 0;
}
.loading.fail:after {
  all: initial;
}
@media screen and (max-width: 879px) {
  body {
    padding-top: 50px;
    width: 100%;
    max-width: 620px;
  }
  nav {
    left: 0;
    top: 0;
    height: 32px;
    width: 100%;
    background: #e3689e;
    z-index: 1;
  }
  nav .menu-toggle {
    position: relative;
    left: calc(50% - 310px);
    height: 24px;
    width: 18px;
    padding: 4px 10px;
    display: block;
  }
  nav .menu-toggle:before {
    display: block;
    content: "";
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTIgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBmaWxsPSIjZmJlOWYxIj4KICAgICAgICAgICAgPHBhdGggZD0iTTExLjQxLDkgTDAuNTksOSBDMCw5IDAsOC41OSAwLDggQzAsNy40MSAwLDcgMC41OSw3IEwxMS40LDcgQzExLjk5LDcgMTEuOTksNy40MSAxMS45OSw4IEMxMS45OSw4LjU5IDExLjk5LDkgMTEuNCw5IEwxMS40MSw5IFogTTExLjQxLDUgTDAuNTksNSBDMCw1IDAsNC41OSAwLDQgQzAsMy40MSAwLDMgMC41OSwzIEwxMS40LDMgQzExLjk5LDMgMTEuOTksMy40MSAxMS45OSw0IEMxMS45OSw0LjU5IDExLjk5LDUgMTEuNCw1IEwxMS40MSw1IFogTTAuNTksMTEgTDExLjQsMTEgQzExLjk5LDExIDExLjk5LDExLjQxIDExLjk5LDEyIEMxMS45OSwxMi41OSAxMS45OSwxMyAxMS40LDEzIEwwLjU5LDEzIEMwLDEzIDAsMTIuNTkgMCwxMiBDMCwxMS40MSAwLDExIDAuNTksMTEgTDAuNTksMTEgWiI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==");
    background-size: 18px 24px;
    height: 24px;
    width: 18px;
  }
  nav .menu-toggle:hover {
    cursor: pointer;
  }
  nav .menu {
    position: relative;
    left: calc(50% - 300px);
    width: 100px;
    color: #fbe9f1;
    text-align: center;
    display: none;
  }
  nav .menu div {
    padding: 5px;
    border-top: solid 1px rgba(255,255,255,0.5);
    background: #e3689e;
    background-clip: padding-box;
  }
}
@media screen and (max-width: 619px) {
  nav .menu-toggle {
    left: 0;
  }
  nav .menu {
    left: 10px;
  }
  .gallery.standalone {
    width: 488px;
  }
}
@media screen and (max-width: 487px) {
  .gallery.standalone {
    width: 366px;
  }
}
@-moz-keyframes ellipsis {
  to {
    width: 1.5em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.5em;
  }
}
@-o-keyframes ellipsis {
  to {
    width: 1.5em;
  }
}
@keyframes ellipsis {
  to {
    width: 1.5em;
  }
}
/*# sourceMappingURL=theme.css.map */