<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
  <meta charset="UTF-8">
  <title>天草应援纪念馆 {{ title|e }}</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link href="{{ '/css/bower_packed.css'|assetpath }}" rel="stylesheet">
  <link href="{{ ('/css/theme.css?v=%s' % CSS_VERSION)|assetpath }}" rel="stylesheet">
  <script src="{{ '/js/bower_packed.js'|assetpath }}"></script>
  <script src="{{ ('/js/ui.js?v=%s' % JS_VERSION)|assetpath }}"></script>
</head>
<body>
  <nav>
    <div class="menu-toggle"></div>
    <div class="menu">
      <div><a href="{{ '/'|sitepath }}">分页</a></div>
      <div><a href="{{ '/all'|sitepath }}">全部</a></div>
      <div><a href="{{ '/inf'|sitepath }}">无限</a></div>
    </div>
  </nav>
  <div title="《梦想家》，SNH48 Team X《梦想的旗帜》公演第十首歌。以“我们是最可爱的王晓佳”闻名。音源来自QQ音乐。">
    <span id="audio-control"></span>
    <audio id="audio" loop>
      <source src="{{ '/audio/%E6%A2%A6%E6%83%B3%E5%AE%B6.opus'|assetpath }}" type="audio/ogg; codecs=opus">
      <source src="{{ '/audio/%E6%A2%A6%E6%83%B3%E5%AE%B6.m4a'|assetpath }}" type="audio/aac">
      <source src="{{ '/audio/%E6%A2%A6%E6%83%B3%E5%AE%B6.ogg'|assetpath }}" type="audio/ogg">
      <source src="{{ '/audio/%E6%A2%A6%E6%83%B3%E5%AE%B6.mp3'|assetpath }}" type="audio/mpeg">
    </audio>
  </div>

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
