<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
  <meta charset="UTF-8">
  <title>天草应援纪念馆 {{ title|e }}</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link href="/assets/css/bower_packed.css" rel="stylesheet">
  <link href="/assets/css/theme.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <script src="/assets/js/bower_packed.js"></script>
  <script src="/assets/js/ui.js?v={{ JS_VERSION }}"></script>
</head>
<body>
  <nav>
    <div class="menu-toggle"></div>
    <div class="menu">
      <div><a href="/">分页</a></div>
      <div><a href="/all">全部</a></div>
      <div><a href="/inf">无限</a></div>
    </div>
  </nav>

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
