{%- set title -%}关于本站{%- endset -%}

{% include '_header.html' %}
  <main class="content article">
    <h1>关于本站</h1>

    <h2>时间线</h2>
    <details open>
      <summary>2017年8月31日</summary>
      <p>王晓佳应援会的微博账号被盗，所有内容被盗号者清除，粉丝和天草之间构筑的回忆点滴在一夜间消失殆尽。</p>
    </details>
    <details open>
      <summary>2017年9月3日</summary>
      <p>为了拯救已经从微博消失的应援会内容，“天草应援纪念馆”项目正式启动。</p>
    </details>
    <details open>
      <!-- TODO: update date of announcement -->
      <summary>2017年9月15日</summary>
      <p>经过参与各方的共同努力，本站初版（www.sky-grass.com）上线，所有的过往微博都回来了！</p>
    </details>
    <hr>

    <h2>参与人员</h2>
    <details open>
    <summary>数据库提供：<a href="http://weibo.com/hecaitou001" target="_blank">@你的档案</a></summary>
    <p>（感谢大大为所有的一切提供了最基本的可能，不厌其烦地从多台服务器上导出各种数据）</p>
    </details>
    <details open>
      <summary>整站程序：<a href="http://weibo.com/u/6185198949" target="_blank">@我就是来抢莫莫沙发的</a></summary>
      <p>（感谢大大以惊人的效率完成了整站的设计，从微博阅读习惯角度做了各种优化）</p>
    </details>
    <details open>
      <summary>企划协力：<a href="http://weibo.com/u/5430319508" target="_blank">@SNH48-王晓佳应援会</a> <a href="http://weibo.com/u/6033902811" target="_blank">@SkygrasStation</a> <a href="http://weibo.com/snh48ins" target="_blank">@SNH48-Instagram搬运</a></summary>
      <p>（感谢大家没有放弃）</p>
    </details>
    <hr>

    <h2>友情链接</h2>
    <details open>
      <summary>微博看看：<a href="http://weibo.wbdacdn.com/" target="_blank">http://weibo.wbdacdn.com/</a></summary>
      <p>（一个免费看明星微博的网站，这里还可以把微博转为rss订阅）</p>
    </details>
    <details open>
      <summary>SNH48 Live：<a href="https://snh48live.org/" target="_blank">https://snh48live.org/</a></summary>
      <p>（致力于搬运SNH48公演官方录播的YouTube频道）</p>
    </details>
    <hr>

    <h2>源代码</h2>
    <p>网站源代码见<a href="https://github.com/SNH48Live/wxj" target="_blank">GitHub</a>。</p>
  </main>
{% include '_footer.html' %}

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
