{%- set title -%}关于王晓佳{%- endset -%}

{% include '_header.html' %}
  <main class="content article">
    <h1>关于王晓佳</h1>
    <img class="portrait" width="150px" height="200px" src="{{ '/images/portrait.jpg'|assetpath }}">
    <p>王晓佳，1993年5月31日出生于湖南长沙，中国女子偶像团体SNH48的四期生，SNH48 Team X成员，隶属上海丝芭文化传媒有限公司。</p>
    <p>加入SNH48前活跃于AcFun和bilibili，拥有大量人气舞见作品。</p>
    <p>梦想是成为一名主持人。</p>
    <p>剧场自我介绍词（catchphrase）：</p>
    <blockquote>长在天上的草是什么草啊？——天~草~</blockquote>
    <hr>

    <h2>档案</h2>
    <table>
      <tbody>
        <tr>
          <td class="key">昵称</td>
          <td class="val">天草</td>
          <td class="key">身高</td>
          <td class="val">170cm</td>
        </tr>
        <tr>
          <td class="key">出生日期</td>
          <td class="val">1993年5月31日</td>
          <td class="key">星座</td>
          <td class="val">双子座</td>
        </tr>
        <tr>
          <td class="key">血型</td>
          <td class="val">B型</td>
          <td class="key">出生地</td>
          <td class="val">湖南长沙</td>
        </tr>
        <tr>
          <td class="key">个人特长</td>
          <td class="val">宅舞、主持</td>
          <td class="key">兴趣爱好</td>
          <td class="val">游戏、动漫、游戏实况解说</td>
        </tr>
      </tbody>
    </table>
    <hr>

    <h2>成绩</h2>
    <p>2016年7月30日，在“比翼齐飞”SNH48第三届偶像年度人气总决选中获得第45名。</p>
    <p>2017年7月29日，在“我心翱翔”SNH48第四届偶像年度人气总决选中获得第43名。</p>
    <hr>

    <h2>各平台账号</h2>
    <p>新浪微博：<a href="https://weibo.com/snh48wangxiaojia" target="_blank">@SNH48-王晓佳</a></p>
    <p>Instagram：<a href="https://www.instagram.com/skygrassaaa/" target="_blank">@skygrassaaa</a></p>
    <p>B站游戏实况账号：<a href="https://space.bilibili.com/789870/" target="_blank">天降风滚草</a></p>
    <p>B站宅舞账号：<a href="https://space.bilibili.com/391445/" target="_blank">天草丶柑橘王</a></p>
    <hr>

    <h2>综艺补档</h2>
    <p>SNH48（携手SMG、东方卫视、优酷土豆等）大型偶像养成类真人秀：<a href="https://list.youku.com/show/id_ze7bf3156ab0211e5a080.html" target="_blank">《国民美少女 2016》</a></p>
    <p>SNH48电竞综艺：<a href="https://www.bilibili.com/video/av13108056/" target="_blank">《超神偶像》</a></p>
    <hr>

    <p><small>本页部分资料来自<a href="http://www.snh48.com/member_details.html?sid=10091" href="_blank">SNH48官网</a>及<a href="https://baike.baidu.com/item/%E7%8E%8B%E6%99%93%E4%BD%B3/17534499" target="_blank">百度百科</a>。</small></p>
  </main>
{% include '_footer.html' %}

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
