{%- set title -%}全部状态{%- endset -%}

{%- from '_macros.html' import info_nav_bar, status_list with context -%}

{% include '_header.html' %}
  <main class="content">
    <h1>全部状态</h1>
    {%- set info -%}共{{ statuses|length }}条状态{%- endset %}
    {{ info_nav_bar(info_text=info)|indent(4) }}
    <hr>
    {{ status_list(statuses)|indent(4) }}
    {{ info_nav_bar(info_text=info, back_to_top=True)|indent(4) }}
  </main>
{% include '_footer.html' %}

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
