<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
  <meta charset="UTF-8">
  <title>天草应援纪念馆 页面不存在</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta http-equiv="refresh" content="2; url={{ '/'|sitepath }}">
  <style>
    html { height: 100%; }
    body { display: flex; margin: 0; height: 100%; background: #e4f4a4; align-items: center; justify-content: center; }
    .container { display: flex; align-items: center; }
    .logo img { display: block; width: 120px; height: 120px; color: rgba(0,0,0,0); }
    .text { padding: 0 0.5em; font: 32px "Songti SC", SimSum, serif; }
    .text a { color: inherit; text-decoration: none; }
  </style>
</head>
<body>
  <div class="container">
    <div class="logo"><img src="{{ '/images/icons/wxj.png'|assetpath }}" alt="logo"></div>
    <div class="text">页面不存在<br>跳转<a href="{{ '/'|sitepath }}">首页</a>中</div>
  </div>
</body>
</html>

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
