<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
  <meta charset="UTF-8">
  <title>莫莫 页面不存在</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta http-equiv="refresh" content="2; url=/">
  <style>
    html { height: 100%; }
    body { display: flex; margin: 0; height: 100%; background: #fbe9f1; align-items: center; justify-content: center; }
    .container { display: flex; align-items: center; }
    .logo img { display: block; width: 100px; height: 100px; }
    .text { padding: 0 0.5em; font: 32px "Songti SC", SimSum, serif; }
    .text a { color: inherit; text-decoration: none; }
  </style>
</head>
<body>
  <div class="container">
    <div class="logo"><img src="/assets/images/icons/logo.png" alt="logo"></div>
    <div class="text">页面不存在<br>跳转<a href="/">首页</a>中</div>
  </div>
</body>
</html>
