{%- set title -%}第{{ page }}页{%- endset -%}

{%- from '_macros.html' import full_title, info_nav_bar, status_list with context -%}

{%- macro page_link(page) -%}
  {{ ('/%d/' % page)|sitepath }}
{%- endmacro -%}

{% include '_header.html' %}
  <main class="content">
    {{ full_title()|indent(4) }}
    <script>window.totalPages = {{ total_pages }}; window.currentPage = {{ page }}</script>
    {%- set info_text %}第{{ page }}/{{ total_pages }}页{%- endset %}
    {%- set first_text %}首{% endset %}
    {%- set first_link %}{{ page_link(1) }}{% endset %}
    {%- set prev_text %}上一页{% endset %}
    {%- set prev_link %}{% if page > 1 %}{{ page_link(page - 1) }}{% endif %}{% endset %}
    {%- set next_text %}下一页{% endset %}
    {%- set next_link %}{% if page < total_pages %}{{ page_link(page + 1) }}{% endif %}{% endset %}
    {%- set last_text %}尾{% endset %}
    {%- set last_link %}{{ page_link(total_pages) }}{% endset %}
    {{ info_nav_bar(info_text, first_text, first_link, prev_text, prev_link, next_text, next_link, last_text, last_link)|indent(4) }}
    <hr>
    {{ status_list(statuses)|indent(4) }}
    {{ info_nav_bar(info_text, first_text, first_link, prev_text, prev_link, next_text, next_link, last_text, last_link, back_to_top=True)|indent(4) }}
  </main>
{% include '_footer.html' %}

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
